.matrix-background {
  background-image: url("/Binary for Background.svg");
  background-color: #000;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
